body {
  background: darkgray;
  padding-top: 25vh;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOEys6H1LK_Pz-Rn4gX43z_SqqIVKssh6OEw&usqp=CAU');
  background-size: cover;
  background-position: center;
  object-fit: contain;
}

form {
  background: #fff;
}

.form-container {
  border-radius: 10px;
  padding: 30px;
  height: auto;
}

.container {
  display: flex;
  min-height: 100vh;
}

.form-group {
  margin-bottom: 1rem;
}

.login-button {
  display: block;
  margin: 0 auto;
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-button:hover {
  background-color: #0062cc;
}

.form-footer {
  margin-top: 10px;
}