.form-minimize {
    max-width: 400px;
    margin: 0 auto;

}

.input-minimize {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.card-header h2 {
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.update-btn {
    background-color: green;
    color: white;
    border: none;
    margin-right: 10px;
}

.ticket-btn {
    background-color: blue;
    color: white;
    border: none;
}

#set-ticket-container {
    margin-top: 60px;
    margin-right: 100px;
    padding:20px;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 70%;
    background-color: #4a3f3f;
    color: white;
    z-index: 999;
    border-radius: 10px;
 }